<footer class="short" id="footer">
    <div class="container">
        <div class="row">
            <div class="col-md-9">
                <h4>Về <span class="alternative-font">TeraBox</span></h4>
                <p>
                    TeraBox là công ty đi tiên phong trong lĩnh vực lưu trữ dữ liệu trên công nghệ điện toán đám mây. Với việc nghiên cứu ứng dụng công nghệ tiên tiến, chúng tôi mong muốn cung cấp đến khách hàng những dịch vụ tốt nhất.
                    <a href="{{site.url}}/ve-chung-toi" class="btn-flat btn-xs">Xem thêm <i class="icon icon-arrow-right"></i></a></p>
                <hr class="light">
                <div class="row">
                    <div class="col-md-4">
                        <h5>Blog</h5>
                        <ul class="list icons list-unstyled">
                            <li><i class="icon icon-caret-right"></i> <a href="blog-full-width.html">Tại sao phải sử dụng dịch vụ Backup?</a></li>
                            <li><i class="icon icon-caret-right"></i> <a href="blog-large-image.html">Dữ liệu của bạn quan trọng như thế nào?</a></li>
                        </ul>
                    </div>
                    <div class="col-md-4">
                        <h5>Điều Khoản</h5>
                        <ul class="list icons list-unstyled">
                            <li><i class="icon icon-caret-right"></i> <a href="{{site.url}}/thoa-thuan-su-dung">Điều khoản sử dụng</a></li>
                            <li><i class="icon icon-caret-right"></i> <a href="{{site.url}}/sla-cam-ket-dich-vu">Cam kết dịch vụ</a></li>
                        </ul>
                    </div>
                    <div class="col-md-4">
                        <h5>Hỗ Trợ</h5>
                        <ul class="list icons list-unstyled">
                            <li><i class="icon icon-caret-right"></i> <a href="javascript: void(0)">Hướng dẫn sử dụng</a></li>
                            <li><i class="icon icon-caret-right"></i> <a href="{{site.url}}/faq-cau-hoi-thuong-gap">Câu hỏi thường gặp</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <h5 class="short">Liên Hệ</h5>
                <span class="phone">1800.1240</span>
                <ul class="list icons list-unstyled push-top">
                    <li><i class="icon icon-map-marker"></i> <strong>Địa Chỉ:</strong> 27, Hoa Đào, Phường 2, Phú Nhuận, TPHCM</li>
                    <li><i class="icon icon-envelope"></i> <strong>Email:</strong> <a href="mailto:contact@terabox.vn">contact@terabox.vn</a></li>
                </ul>
                <div class="social-icons push-top">
                    <ul class="social-icons">
                        <li class="facebook"><a href="http://www.facebook.com/TeraBackup" target="_blank" data-placement="bottom" rel="tooltip" title="" data-original-title="Facebook">Facebook</a></li>
                        <li class="twitter"><a href="http://www.twitter.com/" target="_blank" data-placement="bottom" rel="tooltip" title="" data-original-title="Twitter">Twitter</a></li>
                        <li class="linkedin"><a href="http://www.linkedin.com/" target="_blank" data-placement="bottom" rel="tooltip" title="" data-original-title="Linkedin">Linkedin</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="footer-copyright">
        <div class="container">
            <div class="row">
                <div class="col-md-1">

                </div>
                <div class="col-md-11">
                    <p>© Copyright 2014. All Rights Reserved.</p>
                </div>
            </div>
        </div>
    </div>
</footer>
<script src="/scripts/views/view.home.js"></script>
<script src="/scripts/theme.js"></script>
<script src="/scripts/theme.init.js"></script>
<script src="/scripts/custom.js"></script>