<section class="call-to-action featured footer">
    <div class="container">
        <div class="row">
            <div class="center">
                <h3>Sử dụng thử miễn phí 30 ngày với đầy đủ tính năng. <a
                        href="http://my.terabox.vn/sign_up/p/trial" target="_blank"
                        class="btn btn-lg btn-primary appear-animation bounceIn appear-animation-visible"
                        data-appear-animation="bounceIn">ĐĂNG KÝ NGAY!</a> <span
                        class="arrow hlb appear-animation rotateInUpLeft appear-animation-visible"
                        data-appear-animation="rotateInUpLeft" style="top: -22px;"></span></h3>
            </div>
        </div>
    </div>
</section>
<footer class="short" id="footer">
    <div class="container">
        <div class="row">
            <div class="col-md-9">
                <h4>Về <span class="alternative-font">TeraBox</span></h4>
                <p>
                    TeraBox là công ty đi tiên phong trong lĩnh vực lưu trữ dữ liệu trên công nghệ điện toán đám mây. Với việc nghiên cứu ứng dụng công nghệ tiên tiến, chúng tôi mong muốn cung cấp đến khách hàng những dịch vụ tốt nhất.
                    </p>
                <hr class="light">
                <div class="row">
                    <div class="col-md-4">
                        <h5>Blog</h5>
                        <ul class="list icons list-unstyled">
                            {% for post in site.posts limit:3 %}
                            <li><i class="fa fa-caret-right"></i> <a href="{{site.url}}{{post.url}}">{{post.title}}</a></li>
                            {%endfor%}
                        </ul>
                    </div>
                    <div class="col-md-4">
                        <h5>Điều Khoản</h5>
                        <ul class="list icons list-unstyled">
                            <li><i class="fa fa-caret-right"></i> <a href="{{site.url}}/thoa-thuan-su-dung">Điều khoản sử dụng</a></li>
                            <li><i class="fa fa-caret-right"></i> <a href="{{site.url}}/sla-cam-ket-dich-vu">Cam kết dịch vụ</a></li>
                        </ul>
                    </div>
                    <div class="col-md-4">
                        <h5>Hỗ Trợ</h5>
                        <ul class="list icons list-unstyled">
                            <li><i class="fa fa-caret-right"></i> <a href="{{site.url}}/co-che-bao-mat">Cơ chế bảo mật</a></li>
                            <li><i class="fa fa-caret-right"></i> <a href="javascript: void(0)">Hướng dẫn sử dụng</a></li>
                            <li><i class="fa fa-caret-right"></i> <a href="{{site.url}}/download-tai-phan-mem">Tải phần mềm</a></li>
                            <li><i class="fa fa-caret-right"></i> <a href="{{site.url}}/faq-cau-hoi-thuong-gap">Câu hỏi thường gặp</a></li>
                            <li><i class="fa fa-caret-right"></i> <a href="{{site.url}}/huong-dan-thanh-toan">Hướng dẫn thanh toán</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <h5 class="short">Liên Hệ</h5>
                <span class="phone">(08)35 174 900</span>
                <ul class="list icons list-unstyled push-top">
                    <li><i class="fa fa-map-marker"></i> 27, Hoa Đào, Phường 2, Phú Nhuận, TPHCM</li>
                    <li><i class="fa fa-envelope"></i> <a href="mailto:contact@terabox.vn">contact@terabox.vn</a></li>
                </ul>
                <div class="social-icons push-top">
                    <ul class="social-icons">
                        <li class="facebook"><a href="http://www.facebook.com/TeraBackup" target="_blank" data-placement="bottom" rel="tooltip" title="" data-original-title="Facebook">Facebook</a></li>
                        <li class="twitter"><a href="http://www.twitter.com/" target="_blank" data-placement="bottom" rel="tooltip" title="" data-original-title="Twitter">Twitter</a></li>
                        <li class="linkedin"><a href="http://www.linkedin.com/" target="_blank" data-placement="bottom" rel="tooltip" title="" data-original-title="Linkedin">Linkedin</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="footer-copyright">
        <div class="container">
            <div class="row">
                <div class="col-md-1">

                </div>
                <div class="col-md-11">
                    <p>© Copyright 2014. All Rights Reserved.</p>
                </div>
            </div>
        </div>
    </div>
</footer>

<script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-5396dd8765dae00d" async></script>

