<footer class="short" id="footer">
    <div class="container">
        <div class="row">
            <div class="col-md-9">
                <h4>Về <span class="alternative-font">TeraBox</span></h4>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec eu pulvinar magna. Phasellus semper scelerisque purus, et semper nisl lacinia sit amet. Praesent venenatis turpis vitae purus semper, eget sagittis velit venenatis. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos... <a href="#" class="btn-flat btn-xs">View More <i class="icon icon-arrow-right"></i></a></p>
                <hr class="light">
                <div class="row">
                    <div class="col-md-4">
                        <h5>Blog</h5>
                        <ul class="list icons list-unstyled">
                            <li><i class="icon icon-caret-right"></i> <a href="blog-full-width.html">Tại sao phải sử dụng dịch vụ Backup?</a></li>
                            <li><i class="icon icon-caret-right"></i> <a href="blog-large-image.html">Dữ liệu của bạn quan trọng như thế nào?</a></li>
                        </ul>
                    </div>
                    <div class="col-md-4">
                        <h5>Điều Khoản</h5>
                        <ul class="list icons list-unstyled">
                            <li><i class="icon icon-caret-right"></i> <a href="page-full-width.html">Điều khoản sử dụng</a></li>
                            <li><i class="icon icon-caret-right"></i> <a href="page-left-sidebar.html">Cam kết dịch vụ</a></li>
                        </ul>
                    </div>
                    <div class="col-md-4">
                        <h5>Hỗ Trợ</h5>
                        <ul class="list icons list-unstyled">
                            <li><i class="icon icon-caret-right"></i> <a href="portfolio-2-columns.html">Hướng dẫn sử dụng</a></li>
                            <li><i class="icon icon-caret-right"></i> <a href="portfolio-3-columns.html">Kho kiến thức & Hỗ trợ</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <h5 class="short">Liên Hệ</h5>
                <span class="phone">(08) 7300 1234</span>
                <ul class="list icons list-unstyled push-top">
                    <li><i class="icon icon-map-marker"></i> <strong>Địa Chỉ:</strong> 27, Hoa Đào, Phường 2, Phú Nhuận, TPHCM</li>
                    <li><i class="icon icon-envelope"></i> <strong>Email:</strong> <a href="mailto:mail@example.com">contact@terabox.vn</a></li>
                </ul>
                <div class="social-icons push-top">
                    <ul class="social-icons">
                        <li class="facebook"><a href="http://www.facebook.com/" target="_blank" data-placement="bottom" rel="tooltip" title="" data-original-title="Facebook">Facebook</a></li>
                        <li class="twitter"><a href="http://www.twitter.com/" target="_blank" data-placement="bottom" rel="tooltip" title="" data-original-title="Twitter">Twitter</a></li>
                        <li class="linkedin"><a href="http://www.linkedin.com/" target="_blank" data-placement="bottom" rel="tooltip" title="" data-original-title="Linkedin">Linkedin</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="footer-copyright">
        <div class="container">
            <div class="row">
                <div class="col-md-1">

                </div>
                <div class="col-md-11">
                    <p>© Copyright 2014. All Rights Reserved.</p>
                </div>
            </div>
        </div>
    </div>
</footer>
<script src="/scripts/views/view.home.js"></script>
<script src="/scripts/theme.js"></script>
<script src="/scripts/theme.init.js"></script>
<script src="/scripts/custom.js"></script>