<header>
<div class="container">
    <h1 class="logo">
        <a href="index.html">
            <img alt="Porto" width="111" height="54" data-sticky-width="82" data-sticky-height="40" src="img/logo.png">
        </a>
    </h1>
</div>
<div class="navbar-collapse nav-main-collapse collapse">
    <div class="container">
        <div class="social-icons">
            <ul class="social-icons">
                <li class="facebook"><a href="http://www.facebook.com/" target="_blank" title="Facebook">Facebook</a></li>
                <li class="twitter"><a href="http://www.twitter.com/" target="_blank" title="Twitter">Twitter</a></li>
                <li class="linkedin"><a href="http://www.linkedin.com/" target="_blank" title="Linkedin">Linkedin</a></li>
            </ul>
        </div>
        <nav class="nav-main mega-menu">
            <ul class="nav nav-pills nav-main" id="mainMenu">
                <li>
                    <a href="/">
                        Trang Chủ
                        <i class="icon icon-angle-down"></i>
                    </a>
                </li>
                <li>
                    <a href="shortcodes.html">Tính Năng</a>
                </li>
                <li>
                    <a href="shortcodes.html">Bảng Giá</a>
                </li>
                <li>
                    <a href="shortcodes.html">Hỗ Trợ</a>
                </li>

                <li>
                    <a href="shortcodes.html">Liên Hệ</a>
                </li>
            </ul>
        </nav>
    </div>
</div>
</header>