<div class="header-container" style="min-height: 79px;">
        <header id="header" class="narrow" data-plugin-options="{&quot;menuAfterHeader&quot;: true}">
            <div class="container">
                <h1 class="logo">
                    <a href="{{site.url}}">
                        <img alt="TeraBackup" height="65px"  src="{{site.url}}/img/logo.png">
                    </a>
                </h1>
                <button class="btn btn-responsive-nav btn-inverse" data-toggle="collapse" data-target=".nav-main-collapse">
                    <i class="fa fa-bars"></i>
                </button>
            </div>
            <div class="navbar-collapse nav-main-collapse collapse">
                <div class="container">
                    <ul class="social-icons">
                        <li class="facebook"><a href="http://www.facebook.com/TeraBackup" target="_blank" title="Facebook">Facebook</a></li>
                        <li class="twitter"><a href="http://www.twitter.com/TeraBackup" target="_blank" title="Twitter">Twitter</a></li>
                        <li class="linkedin"><a href="http://www.linkedin.com/" target="_blank" title="Linkedin">Linkedin</a></li>
                    </ul>
                    <nav class="nav-main mega-menu">
                        <ul class="nav nav-pills nav-main" id="mainMenu">
                            <li>
                                <a href="{{site.url}}">
                                    Trang Chủ
                                </a>
                            </li>
                            <li>
                                <a href="{{site.url}}/tinh-nang-dich-vu">Tính Năng</a>
                            </li>
                            <li>
                                <a href="{{site.url}}/bang-gia-dich-vu">
                                    Bảng Giá
                                </a>
                            </li>
                            <li class="dropdown">
                                <a class="dropdown-toggle" href="#">
                                    Hỗ Trợ
                                    <i class="fa fa-angle-down"></i>
                                </a>
                                <ul class="dropdown-menu">
                                    <li>
                                        <a href="javascript: void(0)">Hướng dẫn sử dụng</a>
                                    </li>
                                    <li>
                                        <a href="{{site.url}}/faq-cau-hoi-thuong-gap">Câu hỏi thường gặp</a>
                                    </li>
                                </ul>
                            </li>
                            <li>
                                <a href="javascript: void(0);">
                                    Blog
                                </a>
                            </li>
                            <li class="dropdown">
                                <a class="dropdown-toggle" href="javascript: void(0)">
                                   Hợp tác
                                    <i class="fa fa-angle-down"></i>
                                </a>
                                <ul class="dropdown-menu">
                                    <li>
                                        <a href="{{site.url}}/chuong-trinh-dai-ly">Chương trình đại lý</a>
                                    </li>
                                </ul>
                            </li>
                            <li>
                                <a href="{{site.url}}/lien-he">Liên hệ</a>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>
        </header>
    </div>
