---
layout: default
---
{%include menu.html%}

<section class="page-top">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <ul class="breadcrumb">
                    <li><a href="{{site.url}}">Trang Chủ</a></li>
                    <li class="active"><a href="{{site.url}}/blog">Blog</a></li>
                </ul>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <h2>Blog Post</h2>
            </div>
        </div>
    </div>
</section>

<div class="container">

<div class="row">
    <div class="col-md-12">
        {{content}}
    </div>
</div>

<!--<div id="content">-->
<!--<div class="container">-->
    <!--<h2 class="title-divider">-->
        <!--<span>CloudVis's <span class="de-em">Blog</span></span>-->
    <!--</h2>-->

    <!--<div class="row">-->
        <!--<div class="col-md-9">-->
            <!--{{content}}-->
        <!--</div>-->

        <!--&lt;!&ndash;Sidebar&ndash;&gt;-->
        <!--<div class="col-md-3 sidebar sidebar-right">-->
            <!--<div class="inner">-->
                <!--&lt;!&ndash; Follow Widget &ndash;&gt;-->
                <!--<div class="block">-->
                    <!--<h4 class="title-divider">-->
                        <!--<span>Follow Us On</span>-->
                    <!--</h4>-->
                    <!--&lt;!&ndash;@todo: replace with real social media links &ndash;&gt;-->
                    <!--<ul class="list-unstyled social-media-branding">-->
                        <!--<li>-->
                            <!--<a target="_blank" href="https://twitter.com/cloudvis" class="social-link branding-twitter"><i class="fa fa-twitter-square fa-fw"></i>-->
                                <!--Twitter</a>-->
                        <!--</li>-->
                        <!--<li>-->
                            <!--<a target="_blank" href="https://facebook.com/cloudvis" class="social-link branding-facebook"><i-->
                                    <!--class="fa fa-facebook-square fa-fw"></i> Facebook</a>-->
                        <!--</li>-->
                        <!--<li>-->
                            <!--<a target="_blank" href="http://www.linkedin.com/company/cloudvis-technology" class="social-link branding-linkedin"><i-->
                                    <!--class="fa fa-linkedin-square fa-fw"></i> LinkedIn</a>-->
                        <!--</li>-->
                        <!--<li>-->
                            <!--<a target="_blank" href="https://plus.google.com/+CloudvisVn-Cloud-Hosting?rel=publisher" rel="publisher" class="social-link branding-google-plus"><i-->
                                    <!--class="fa fa-google-plus-square fa-fw"></i> Google+</a>-->
                        <!--</li>-->
                    <!--</ul>-->
                <!--</div>-->
            <!--</div>-->
        <!--</div>-->
    <!--</div>-->
<!--</div>-->
<!--&lt;!&ndash;.container&ndash;&gt;-->
<!--</div>-->